@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Josefin+Sans&family=Merriweather&family=Open+Sans:wght@300;400&family=Poppins:wght@400;700;800&family=Sarala&family=Ubuntu:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    scroll-behavior: smooth;
    overflow: hidden;
}

/* Vitrine do site */
.wrapper {
    width: 100%;
    margin: 0 auto;
}
main {
    display: block;
    background-color: #fff;
}
nav, ul, li {
    list-style-type: none;
    gap: 2rem;
}
header {
    background-color: #1c1f40;
    box-shadow: 0px 3px 10px #464646;
}
.nav-bar {
    display: flex;
    justify-content: space-around;
    padding: 0.2rem 15rem;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16rem;
    max-width: 130px;
}

@media screen and (max-width: 768px) {
    .logo {
        display: flex;
        justify-content: end;
        margin-left: 60px;
    }
}
@media screen and (max-width: 500px) {
    .logo {
        display: flex;
        justify-content: end;
        margin-left: 20px;
    }
}